In [6]:
###############################################################################################
# Script_name: Importing EXCEL file into MySQL using Python                                   #
# Objective: Reading the EXCEL file and loading it into MySQL table                           #
# Date created: 05/02/2024  Date modified: 06/02/2024                                         #
# Team name: The Rock Squad                                                                   #
###############################################################################################                                                                                                                                                      #
# Pseudocode: Excel2MySQL                                                                     #                                                                                            #
# Step 1: Configure logging                                                                   #                                                  
# Step 2: Import necessary libraries                                                          #                                                                                                           #
# Step 3: Define MySQL connection parameters                                                  #                                                                                             #

# Step 4: Load Excel file into DataFrame                                                      #                                             

# Step 5: Write DataFrame to MySQL table                                                      #                                       

# Step 6: Fetch data from MySQL table and display it                                          #                                 

# Step 7: Close database connection and log closure                                           #                                             

###############################################################################################
 
# Step 1: Configuration logging

import logging
import time
import os
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
import configparser
 
# Get the path to the desktop

desktop_path = os.path.join(os.path.expanduser("~"), "Desktop")
 
# Path to the configuration file

config_file_path = os.path.join(desktop_path, "config.ini")
 
# Read the configuration file

config = configparser.ConfigParser()

config.read(config_file_path)
 
# Retrieve database connection parameters

user = config['mysql']['user']

password = config['mysql']['password']

host = config['mysql']['host']

database = config['mysql']['database']


log_filename = r'C:\Users\Kaviyaa.Velraman\Documents\python\csv_to_mysql\02_LogFile\Excel_log_files.log'
 
# Truncate the log file if it exists

if os.path.exists(log_filename):

    open(log_filename, 'w').close()

start_time = time.time()

formatted_time = time.strftime("%Y-%m-%d %H %M %S", time.localtime(start_time))

logging.basicConfig(filename=log_filename, level=logging.INFO, format='%(levelname)s - %(message)s - %(asctime)s', filemode='w')

logging.info(f"Step 1-EXCEL_to_mysql started at {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(start_time))}")
 
# Step 3: Define MySQL connection parameters

db_connection = create_engine(f'mysql://{user}:{password}@{host}/{database}')

logging.info(f"Step 3-Mysql connection parameters is defined")
 
# Step 4: Loading the Excel file into a DataFrame

try:

    excel_file_path = r"C:\Users\Kaviyaa.Velraman\Documents\python\csv_to_mysql\03_Excel_file\student.xlsx"
    
    df = pd.read_excel(excel_file_path) 

    logging.info("Step 4-Excel file loaded successfully.")

except Exception as e:

    logging.error(f"Step 4-Error in loading the Excel file: {e}")
 
# Step 5: Connecting the DataFrame to MySQL database and writing to MySQL table

try:

    # Specify table name for MySQL

    table_name = 'student_marks'
 
    # Write DataFrame to MySQL

    df.to_sql(table_name, con=db_connection, if_exists='replace', index=False)
 
    # Log the successful write to MySQL

    logging.info(f"Step 5-DataFrame written to MySQL table '{table_name}' successfully.")

except Exception as e:

    logging.error(f"Step 5-Error in writing the DataFrame to Mysql table: {e}")
 
# Step 6: Fetch data from MySQL table and display it

try:    

    query = f"SELECT * FROM {table_name}"
    df_from_mysql = pd.read_sql(query, con=db_connection)
    print(df_from_mysql)

    logging.info("Step 6-Fetched the data from MySQL table and displayed it")

except Exception as e:

    logging.error(e)
 
# Step 7: Close the database connection and Log the closure of the database connection

finally:    

    db_connection.dispose()    

    logging.info(f"Step 7-Database connection closed and excel_to_mysql ended at {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))}")

    logging.info(f"Total time taken for execution: {time.time()-start_time} seconds")

     Unnamed: 0   id               name               nationality  \
0             0    0          Kiana Lor                     China
1             1    1     Joshua Lonaker  United States of America
2             2    2      Dakota Blanco  United States of America
3             3    3    Natasha Yarusso  United States of America
4             4    4     Brooke Cazares                    Brazil
..          ...  ...                ...                       ...
302         302  302        Austin Haas  United States of America
303         303  303    Madison Fithian  United States of America
304         304  304  Zachary Mulvahill  United States of America
305         305  305   Eliana Michelsen  United States of America
306         306  306    Dane Whittemore                    Canada

                    city  latitude  longitude gender ethnic.group  age  \
0                 Suzhou     31.31     120.62      F         None   22
1          Santa Clarita     34.39    -118.54      M         None   22
2                Oakland     37.80    -122.27      F         None   22
3          Castro Valley     37.69    -122.09      F         None   20
4    São José dos Campos    -23.18     -45.88      F         None   21
..                   ...       ...        ...    ...          ...  ...
302             Columbus     39.96     -83.00      M         None   20
303          Los Angeles     34.05    -118.24      F         None   20
304          Los Angeles     34.05    -118.24      M         None   20
305              Oakland     37.80    -122.27      F         None   23
306              Toronto     43.67     -79.42      M         None   21

     english.grade  math.grade  sciences.grade  language.grade  \
0              3.5         3.7             3.1             1.0
1              2.9         3.2             3.6             5.0
2              3.9         3.8             3.2             5.0
3              3.3         2.8             3.2             5.0
4              3.7         2.6             3.4             1.0
..             ...         ...             ...             ...
302            3.6         3.7             3.1             5.0
303            3.6         3.9             4.0             5.0
304            3.2         3.4             3.9             5.0
305            3.0         2.8             2.9             5.0
306            3.8         3.2             4.0             5.0

     portfolio.rating  coverletter.rating  refletter.rating
0                   4                 4.0                 4
1                   5                 4.0                 5
2                   3                 3.0                 4
3                   5                 2.0                 4
4                   4                 4.0                 5
..                ...                 ...               ...
302                 4                 5.0                 5
303                 5                 5.0                 3
304                 5                 5.0                 3
305                 4                 4.0                 5
306                 5                 4.0                 5

[307 rows x 17 columns]